.title h1 {
	color: #f6eeec !important;
	text-shadow: 0.05em 0.05em 0.1em rgba(0, 0, 0, 0.5); // 5% of font size
	&#not {
		font-style: italic !important;
	}
}

.reveal pre code {
	font-size: 0.7em;
}
