.title h1 {
	color: #f6eeec !important;
	text-shadow: 0.05em 0.05em 0.1em rgba(0, 0, 0, 0.5); // 5% of font size
	&#not {
		font-style: italic !important;
	}
}

.reveal pre code {
	font-size: 0.7em;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5 {
	text-transform: none;
}

.reveal .progress span {
	background-color: #ff6505;
}

.reveal button.navigate-right.enabled,
.reveal button.navigate-left.enabled,
.reveal button.navigate-down.enabled,
.reveal button.navigate-up.enabled {
	color: #ff6505;
}
