.todo {
	background-color: #65ff00 !important;
}

.container{
	display: flex;
}

.col{
	flex: 1;
}

.striked.fragment.visible:not(.current-fragment) {
	animation: removed-item-animation 1s ease-in-out;
	text-decoration: line-through;
}

.striked.fragment.visible.current-fragment {
  text-decoration: none;
}

@keyframes removed-item-animation {
	from {
		text-decoration: none;
	}

	to {
		text-decoration: line-through;
	}
}